---
import Link from "./ui/link.astro";
import "index.css";
---

<div
  class="p-8 md:px-20 md:py-20 mt-20 mx-auto rounded-lg flex flex-col items-center text-center cta-index"
  style="background: url('https://wallpapercave.com/wp/wp4094505.jpg'); background-position: right center; background-repeat: no-repeat;">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">Join Our Club</h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Learn More About News & Create Schoolwide Content
  </p>
  <div class="flex mt-5">
    <Link href="https://forms.office.com/r/zHSQtC3gw6" style="inverted">
      Get Started
    </Link>
  </div>
</div>
